.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 2rem;
  background-color: #F5F1E8;
  border-bottom: 1px solid #E0D9C8;

  position: sticky;
  top: 0;
  z-index: 10;

  backdrop-filter: blur(6px);
  background-color: rgba(245, 241, 232, 0.85);
}

.nav-links {
  display: flex;
  gap: 1.5rem;
}

.nav-link {
  position: relative;
  text-decoration: none;
  color: #8B8C69;
  font-size: 0.95rem;
  min-width: 90px;
  text-align: center;
  padding: 0.4rem 0.8rem;
  transition: color 0.2s ease;
}

/* hover effect */
.nav-link:hover {
  color: transparent;
}

/* .nav-link:hover {
  background-color: rgba(198, 216, 168, 0.4);
  color: #6B5B4C;
} */

.nav-link::before {
  content: "";
  position: absolute;
  width: 40px;
  height: 40px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(0deg);
  background-image: url("heart-svgrepo-com.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  opacity: 0;
  transition: opacity 0.2s ease, transform 0.3s ease;
  z-index: -1;
}

.nav-link:hover::before {
  opacity: 0.25;
  transform: translate(-50%, -50%) rotate(50deg);
}